* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
}

html,
body {
  overflow: hidden;
  background-color: black;
  font-family: "Noto Sans", sans-serif;
}

#webgl {
  display: block;
  margin: 0 auto;
  background-color: black;

  max-width: 100%;
  max-height: 100%;

  width: 100% !important;
  height: 100% !important;

  overflow: hidden;
}

canvas {
  max-width: 100%;
  max-height: 100%;

  width: 100% !important;
  height: 100% !important;
}

.uiCard {
  font-family: monospace;

  z-index: 1000;

  padding: 10px;

  background-color: rgba(37, 37, 37, 0.5);
  color: white;
}

.debugMenu {
  position: absolute;
  bottom: 0;
  left: 0;
}

.modalController {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.595);

  pointer-events: all;

  backdrop-filter: blur(3px);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.modalController.hidden {
  backdrop-filter: blur(0);

  background-color: transparent;
  pointer-events: none;
}

.modal {
  z-index: 1000;

  padding: 1.4rem;

  background-color: rgb(255, 255, 255);
  color: black;

  border-radius: 0.8rem;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  pointer-events: all;

  transition: background-color 0.3s ease, color 0.3s ease, top 0.3s ease;
}

.modal.hidden {
  top: -50%;

  background-color: transparent;
  pointer-events: none;
}

.settings {
  width: 512px;
}

.sphereContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

.sphere {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(133, 130, 130);
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}
.sphere.full {
  background-color: rgb(255, 255, 255);
}

#buyButtons.hidden {
  display: none;
}

#cancelButton.hidden {
  display: none;
}

.help {
  width: 356px;
}

.divider {
  margin: 10px 0;
  border-bottom: 0.5px solid rgb(104, 104, 104);
}

/* Sidebar Toggle Button */
.toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #1a1a2e;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1001;

  transition: background-color 0.3s ease, right 0.3s ease;
}

.toggle-button.active {
  right: 320px;
}

.toggle-button:hover {
  background-color: #162447;
}

/* Sidebar */
.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
}

.sidebar.visible {
  right: 0;
}

.sidebar-header {
  text-align: center;
  padding: 15px;
  font-size: 1.5rem;
  border-bottom: 1px solid #444;
}

.sidebar-categories {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.category-tab {
  background: #1a1a2e;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-tab.active {
  background-color: #284386;
}

.category-tab:hover {
  background-color: #3857a5;
}

.sidebar-content {
  padding: 15px;
  flex-grow: 1;
  overflow-y: auto;
}

.category-content {
  display: flex;
  flex-direction: column;
}

.category-content.hidden {
  display: none;
}

button {
  margin: 10px 0;
  padding: 10px;
  background-color: #323cf5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #323cf5;
}
